a {
    text-decoration: none;
    text-decoration-color: none;
}
.rightele{
    display: flex;
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    position: relative;
}
.leftele{
    display: flex;
    float: left;
    padding-left: 2px;
    padding-right: 30px;
    padding-top: 15px;
    position: relative;
}
.searchele{
    /*display: grid;*/
    margin: auto;
    width: 50%;
    height: 50%;
}
#lefta {
    color: #000;
    display: inline-block;
    padding-left: 15px;
    opacity: .75;
    font-size: 13px;
}
#righta {
    color: #000;
    display: inline-block;
    padding-left: 15px;
    opacity: .75;
    font-size: 13px;
    text-align: right;
    align-items: center;
}
body a {
    font-family: sans-serif;
}
a:hover {
    text-decoration: underline;
}