a {
    text-decoration: none;
    text-decoration-color: none;
}
#lefta {
    color: #000;
    display: inline-block;
    padding-left: 15px;
    opacity: .75;
    font-size: 13px;
}
#righta {
    color: #000;
    display: inline-block;
    padding-left: 15px;
    opacity: .75;
    font-size: 13px;
}
body a {
    font-family: sans-serif;
}
a:hover {
    text-decoration: underline;
}